@using Microsoft.AspNetCore.Mvc.Localization;

@inject IViewLocalizer Localizer;

<div class="text-center">
    <h4 class="display-4">@Localizer["Objectives and method"]</h4>
</div>

<p>
    @Localizer["Anyone who leaves active professional life does so with a lot of knowledge and skills. The aim of the Knowledge Exchange is to exchange this: to pass on what one knows to others and to capture interesting knowledge or skills from those others. There is also ample opportunity to build up new social contacts after the cessation of professional activities."]
</p>

<p>
    @Localizer["Our motto is therefore"]:
</p>

<p style="color: indianred">
    <strong>@Localizer["Giving Knowledge, Taking Knowledge and Making Acquaintances."]</strong>
</p>

<p>
    @Localizer["Apart from the lectures, the activities take place in small groups, so that everyone can participate actively. Each group is led by an animator who convenes the participants, supervises and takes care of the facilities. The program is largely determined by the members themselves. Success therefore depends not only on the animators but also on the participants, who are expected to make an active contribution. If a group becomes too numerous, it is split up. This ensures that everyone is covered."]:
</p>